.isError {
	background-color: grey;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  color: red;
} 

.isNotError {
	background-color: green;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
}